<div class="panel panel-info">
  <div class="panel-heading">Categorias</div>
  <div class="panel-body">
    <% @categories.each do |cat| %>
      <p class="category_link">
        <%= link_to cat.name, 
          controller: "/products", 
          action: "category", 
          category_id: cat.id %></p>
    <% end %>
  </div>
</div>
<% if current_company_admin %>
<div class="panel panel-danger">
  <div class="panel-heading">Menu Administrativo</div>
  <div class="panel-body">
    <p class="adm_link"><%= link_to "Nova Categoria", new_product_category_path %></p>
    <p class="adm_link"><%= link_to "Novo Produto", new_product_path %></p>
  </div>
</div>
<% end %>
