/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
div.banner {
  background: rgb(199,216,229); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(199,216,229,1) 49%, rgba(41,137,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(49%,rgba(199,216,229,1)), color-stop(100%,rgba(41,137,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(199,216,229,1) 49%,rgba(41,137,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(199,216,229,1) 49%,rgba(41,137,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(199,216,229,1) 49%,rgba(41,137,216,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(199,216,229,1) 49%,rgba(41,137,216,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d8e5', endColorstr='#2989d8',GradientType=1 ); /* IE6-9 */

}

#menu { margin-bottom: 0px}
